.darkTheme {
    .header {
        background-color: $darkModeElements;
        box-shadow: 0 0 .5rem 0 $darkModeShadow;

        &__title, &__toggle {
            color: $white;
        }

        &__toggle {
            &::before {
                font-weight: 800;
            }
        }
    }

    .container {
        background-color: $darkModeBg;
    }

    .search__icon, .filter__option {
        color: $white;
    }

    .search__field {
        background-color: $darkModeElements;
        color: $white;
        box-shadow: 0 0 .5rem 0 $darkModeShadow;

        &::placeholder {
            color: $white;
        }
    }

    .filter__select, .filter__options {
        background-color: $darkModeElements;
        box-shadow: 0 0 .5rem 0 $darkModeShadow;
        color: $white;
    }

    .country__name, .country__detail {
        color: $white;
    }

    .country--card {
        box-shadow: 0 0 .5rem 0 $darkModeShadow;
        
        .country__details {
            background-color: $darkModeElements;
        }
    }

    .button {
        background-color: $darkModeElements;
        box-shadow: 0 0 .5rem 0 $darkModeShadow;
        color: $white;
    }

    .loading__indicator {
        background: $lightModeBg;
    }

    .error {
        color: $white;
    }
}