$mediaBreakpoints: (
    mobile: 23.4375rem,
    tablet: 48rem, 
    desktop-sm: 64rem,
    desktop-md: 75rem,
    desktop-lg: 81.25rem
);

@mixin text() {
    font-family: $font-family;
    color: $lightModeText;
    margin: 0;
}

@mixin flexbox($jc: unset, $ai: unset) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin abs-top-left($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin media-query($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}

@mixin transition($prop) {
    transition: $prop .2s ease;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
        opacity: .8;
    }

    100% {
        transform: scale(1);
    }
}