@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$darkModeElements: hsl(209, 23%, 22%);
$darkModeBg: hsl(207, 26%, 17%);
$darkModeShadow: rgba(30,43,52,255);
$lightModeBg: hsl(0, 0%, 98%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInputText: hsl(0, 0%, 52%);
$lightModeShadow: rgba(128, 128, 128, 0.171);
$white: hsl(0, 0%, 100%);

$font-family: "Nunito Sans", sans-serif;